<h1>Sandwiches</h1>

<div class="row">
  <div class="col-md-4 flink">
    <%= link_to spree.product_path(18) do %>
      <%= image_tag('img-02.jpg') %><br>
      Buffalo Chicken Sandwich
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(19) do %>
      <%= image_tag('img-02.jpg') %><br>
      Philly Cheese Steak Sandwich
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(20) do %>
      <%= image_tag('img-02.jpg') %><br>
      Chicken Bacon Ranch Sandwich
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(21) do %>
      <%= image_tag('img-02.jpg') %><br>
      Italian Sandwich
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(22) do %>
      <%= image_tag('img-02.jpg') %><br>
      Chicken Parm Sandwich
    <% end %>
  </div>

</div>
