<% content_for :sidebar do %>
  <div class="sidebar-cart" data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/link_to_cart' %>
    <%= render :partial => 'spree/shared/sidebar_cart' %>
  </div>
<% end %>

<div class="section-title">
  Desserts
</div>
<br>

<div class="section-items">

  <div class="row">
    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(27) do %>
        <div class="flinkablink"><%= image_tag('026-cinnamon-twists.jpg', class: 'grid-image') %></div>
        Cinnamon Twists
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(28) do %>
        <div class="flinkablink"><%= image_tag('025-chocolate-chip-cookie.jpg', class: 'grid-image') %></div>
        Chocolate Chip Cookie
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(29) do %>
        <div class="flinkablink"><%= image_tag('016-brownie.jpg', class: 'grid-image') %></div>
        Chocolate Brownie
      <% end %>
    </div>
  </div>
</div>
