<h1>Drinks</h1>


<div class="col-md-4 flink">
  <%= link_to spree.product_path(30) do %>
    <%= image_tag('img-02.jpg') %><br>
    Coca-Cola
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(31) do %>
    <%= image_tag('img-02.jpg') %><br>
    Coke Zero
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(32) do %>
    <%= image_tag('img-02.jpg') %><br>
    Diet Coke
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(33) do %>
    <%= image_tag('img-02.jpg') %><br>
    Sprite
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(34) do %>
    <%= image_tag('img-02.jpg') %><br>
    Dasani Bottled Water
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(35) do %>
    <%= image_tag('img-02.jpg') %><br>
    Fanta Orange
  <% end %>
</div>
