<h1>Pizza</h1>

<div class="row">
  <div class="col-md-4 flink">
    <%= link_to spree.product_path(1) do %>
      <%= image_tag('img-02.jpg') %><br>
      Build Your Own Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(7) do %>
      <%= image_tag('img-02.jpg') %><br>
      Meat Lovers Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(8) do %>
      <%= image_tag('img-02.jpg') %><br>
      Veggie Lovers Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(9) do %>
      <%= image_tag('img-02.jpg') %><br>
      Philly Cheese Steak Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(10) do %>
      <%= image_tag('img-02.jpg') %><br>
      BBQ Chicken Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(11) do %>
      <%= image_tag('img-02.jpg') %><br>
      Hawaiian Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(12) do %>
      <%= image_tag('img-02.jpg') %><br>
      Chicken Bacon Ranch Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(13) do %>
      <%= image_tag('img-02.jpg') %><br>
      Supreme Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(14) do %>
      <%= image_tag('img-02.jpg') %><br>
      Ultimate Pepperoni Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(15) do %>
      <%= image_tag('img-02.jpg') %><br>
      Buffalo Chicken Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(16) do %>
      <%= image_tag('img-02.jpg') %><br>
      Cheese Pizza
    <% end %>
  </div>

  <div class="col-md-4 flink">
    <%= link_to spree.product_path(17) do %>
      <%= image_tag('img-02.jpg') %><br>
      Spinach and Feta Pizza
    <% end %>
  </div>

</div>
