<% content_for :sidebar do %>
  <div class="sidebar-cart" data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/link_to_cart' %>
    <%= render :partial => 'spree/shared/sidebar_cart' %>
  </div>
<% end %>

<div class="section-title">
  Sides
</div>
<br>

<div class="section-items">

  <div class="row">
    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(2) do %>
        <div class="flinkablink"><%= image_tag('015-breadsticks.jpg', class: 'grid-image') %></div>
        Breadsticks
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(4) do %>
        <div class="flinkablink"><%= image_tag('018-cheesy-bread.jpg', class: 'grid-image') %></div>
        Cheesy Bread
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(6) do %>
        <div class="flinkablink"><%= image_tag('033-garlic-bread.jpg', class: 'grid-image') %></div>
        Garlic Bread
      <% end %>
    </div>

  </div>
</div>
