<% content_for :sidebar do %>
  <div class="sidebar-cart" data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/link_to_cart' %>
    <%= render :partial => 'spree/shared/sidebar_cart' %>
  </div>
<% end %>

<div clas="section-title">
  Pasta
</div>
<br>

<div class="col-md-9">
  <div class="col-md-3 flink">
    <%= link_to spree.product_path(23) do %>
      <div class="flinkablink"><%= image_tag('img-02.jpg') %></div>
      Chicken Alfredo Pasta
    <% end %>
  </div>

  <div class="col-md-3 flink">
    <%= link_to spree.product_path(24) do %>
      <div class="flinkablink"><%= image_tag('img-02.jpg') %></div>
      Italian Sausage Marinara Pasta
    <% end %>
  </div>

  <div class="col-md-3 flink">
    <%= link_to spree.product_path(25) do %>
      <div class="flinkablink"><%= image_tag('img-02.jpg') %></div>
      Chicken Carbonara Pasa
    <% end %>
  </div>

  <div class="col-md-3 flink">
    <%= link_to spree.product_path(26) do %>
      <div class="flinkablink"><%= image_tag('img-02.jpg') %></div>
      Pasta Primavera
    <% end %>
  </div>
</div>
