<h1>Pasta</h1>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(23) do %>
    <%= image_tag('img-02.jpg') %><br>
    Chicken Alfredo Pasta
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(24) do %>
    <%= image_tag('img-02.jpg') %><br>
    Italian Sausage Marinara Pasta
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(25) do %>
    <%= image_tag('img-02.jpg') %><br>
    Chicken Carbonara Pasa
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(26) do %>
    <%= image_tag('img-02.jpg') %><br>
    Pasta Primavera
  <% end %>
</div>
