<% content_for :sidebar do %>
  <div class="sidebar-cart" data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/link_to_cart' %>
    <%= render :partial => 'spree/shared/sidebar_cart' %>
  </div>
<% end %>

<div class="section-title">
  Drinks
</div>
<br>

<div class="section-items">

  <div class="row">
    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(30) do %>
        <div class="flinkablink"><%= image_tag('027-coca-cola.jpg', class: 'grid-image') %></div>
        Coca-Cola
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(31) do %>
        <div class="flinkablink"><%= image_tag('028-coke-zero.jpg', class: 'grid-image') %></div>
        Coke Zero
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(32) do %>
        <div class="flinkablink"><%= image_tag('031-diet-coke.jpg', class: 'grid-image') %></div>
        Diet Coke
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(33) do %>
        <div class="flinkablink"><%= image_tag('029-sprite.png', class: 'grid-image') %></div>
        Sprite
      <% end %>
    </div>

  </div>
  <div class="row">

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(34) do %>
        <div class="flinkablink"><%= image_tag('030-dasani.png', class: 'grid-image') %></div>
        Dasani Bottled Water
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(35) do %>
        <div class="flinkablink"><%= image_tag('032-fanta-orange.jpg', class: 'grid-image') %></div>
        Fanta Orange
      <% end %>
    </div>
  </div>
</div>
