<div class="banner">
  <%= image_tag 'header_deluxepizza.jpg', alt: "image description", width: "1280", height: "200" %>
    <!-- <img src="./Specials _ Gino&#39;s Pizza_files/header_deluxepizza.jpg" alt="image description" width="1280" height="200"> -->
  </div>
</header>
<div class="wrapper-holder">
  <div id="main" class="tab-page">
    <h1>Specials</h1>
    <div class="open-close-03">
      <a href="http://ginospizza.ca/specials.php#" class="opener-04">Specials</a>
<!--
      <div class="slide-03">
        <ul class="tabset-02">
          <li><a href="#tab1" class="active">Order Online and SAVE</a></li>
          <li><a href="#tab2">More Specials</a></li>
        </ul>
      </div>
-->
    </div>
    <div class="main-holder">
      <div id="content">
        <div class="content-holder">
          <div class="tab-content build">
            <div id="tab1">
            <section class="specilas-box">
              <h2>NEW Flavoured Bites <span class="itemCals">(985-1167 Cals)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                    <ul class="list-menu">
                      <li><span>16</span> Flavoured Bites</li>
                      <li>Choose from Cinnamon &amp; Sugar, Parmesan &amp; Oregano or Garlic</li>
                    </ul>
                    <ul class="list-cost">
                      <li>
                        <strong class="title">16 Bites</strong>
                        <strong class="cash"> <em>$</em>4<em>.49</em></strong>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="img-box">
                  <%= image_tag 'flavoured-bites-web.jpg', alt: "image description", width: "468", height: "309" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/flavoured-bites-web.jpg" alt="image description" width="468" height="309"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Monday Special <span class="itemCals">(1485-2117 Cals)</span><br><span class="ooSpecialDisclaimer">(Offer only valid when placed online)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                    <ul class="list-menu">
                      <li><span>1</span> Medium Pizza with <span>2</span> Toppings</li>
                      <li><span>1 FREE</span> Dipping Sauce</li>
                      <li>(Minimum purchase of 2 pizzas)</li>
                    </ul>
                    <ul class="list-cost">
                      <li>
                        <strong class="title">Medium</strong>
                        <strong class="cash"> <em>$</em>6<em>.99</em></strong>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-monday.jpg', alt: "image description", width: "468", height: "309" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-monday.jpg" alt="image description" width="468" height="309"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Tuesday Special <span class="itemCals">(2770-3076 Cals)</span><br><span class="ooSpecialDisclaimer">(Offer only valid when placed online)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                    <ul class="list-menu">
                      <li><span>1</span> Large Pizza with <span>1</span> Topping</li>
                      <li><span>6</span> Garlic Breadsticks</li>
                    </ul>
                    <ul class="list-cost">
                      <li>
                        <strong class="title">Large</strong>
                        <strong class="cash"> <em>$</em>13<em>.99</em></strong>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-tuesday.jpg', alt: "image description", width: "468", height: "309" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-tuesday.jpg" alt="image description" width="468" height="309"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Wednesday Special <span class="itemCals">(2447-4081 Cals)</span><br><span class="ooSpecialDisclaimer">(Offer only valid when placed online)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                    <ul class="list-menu">
                      <li><span>1</span> X-Large Pizza with <span>2</span> Toppings</li>
                      <li><span>3</span> 591ml Pops</li>
                    </ul>
                    <ul class="list-cost">
                      <li>
                        <strong class="title">X-Large</strong>
                        <strong class="cash"> <em>$</em>16<em>.99</em></strong>
                      </li>
                    </ul>

                  </div>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-wednesday.jpg', alt: "image description", width: "468", height: "309" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-wednesday.jpg" alt="image description" width="468" height="309"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Party Tray Deal <span class="itemCals">(3800-4732 Cals)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="box-info">
                  <ul class="list-menu">
                    <li><span>1</span> Party Tray Pizza with <span>1</span> Topping</li>
                    <li><span>2 FREE</span> Dipping Sauce</li>
                  </ul>
                  <ul class="list-cost">
                    <li>
                      <strong class="title">Party Tray</strong>
                      <strong class="cash"> <em>$</em>19<em>.99</em></strong>
                    </li>
                  </ul>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-pizzatray.jpg', alt: "image description", width: "468", height: "309" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-pizzatray.jpg" alt="image description" width="468" height="309"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Hunger Buster <span class="itemCals">(2705-4877 Cals)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="box-info">
                  <ul class="list-menu">
                    <li><span>1</span> Medium Pizza with <span>3</span> Toppings</li>
                    <li><span>2</span> Soft Drinks (591ml)</li>
                    <li><span>10</span> Delicious Wings</li>
                    <li>2 Pringles Cans or 1 Chocolate Lava Cake</li>
                    <li><span>1 FREE</span> Dipping Sauce</li>
                  </ul>
                  <ul class="list-cost">
                    <li>
                      <strong class="title">Medium</strong>
                      <strong class="cash"> <em>$</em>24<em>.99</em></strong>
                    </li>
                    <li>
                      <strong class="title">Large</strong>
                      <strong class="cash"> <em>$</em>26<em>.99</em></strong>
                    </li>
                  </ul>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-pizzawings.jpg', alt: "image description", width: "468", height: "309" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-pizzawings.jpg" alt="image description" width="468" height="309"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Panzo Combo <span class="itemCals">(1957-3375 Cals)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                  <ul class="list-menu">
                    <li><span>2</span> Panzerotto with <span>3</span> Toppings</li>
                    <li><span>2</span> Soft Drinks <b>(591ml)</b></li>
                    <li><span>2 FREE</span> Marinara Sauces</li>
                  </ul>
                  <ul class="list-cost">
                    <li>
                      <strong class="title">Regular</strong>
                      <strong class="cash"> <em>$</em>12<em>.99</em></strong>
                    </li>
                    <li>
                      <strong class="title">Large</strong>
                      <strong class="cash"> <em>$</em>15<em>.99</em></strong>
                    </li>
                  </ul>
                </div>
                <div class="img-box">
                  <%= image_tag 'panzo_combo.jpg', alt: "image description", width: "468", height: "309" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/panzo_combo.jpg" alt="image description" width="468" height="309"> -->
                </div>
              </div>
            </div></section>
            <section class="specilas-box">
              <h2>Walk-In Special <span class="itemCals">(1927 - 2925 Cals)</span></h2>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                    <ul class="list-menu">
                      <li><span>1</span> Large Pizza with <span>3</span> Toppings</li>
                      <li><span>1 FREE</span> Dipping Sauce</li>
                    </ul>
                    <ul class="list-cost">
                      <li>
                        <strong class="title">Large</strong>
                        <strong class="cash"> <em>$</em>11<em>.99</em></strong>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-monday.jpg', alt: "image description", width: "468", height: "307" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-monday.jpg" alt="image description" width="468" height="307"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Gino's Original <span class="itemCals">(2992-5850 Cals)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                    <ul class="list-menu">
                      <li><span>2</span> Pizzas with <span>3</span> Toppings</li>
                      <li><span>2 FREE</span> Dipping Sauces</li>
                    </ul>
                    <ul class="list-cost">
                      <li>
                        <strong class="title">Medium</strong>
                        <strong class="cash"> <em>$</em>20<em>.99</em></strong>
                      </li>
                      <li>
                        <strong class="title">Large</strong>
                        <strong class="cash"> <em>$</em>24<em>.99</em></strong>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-ginosoriginal.jpg', alt: "image description", width: "468", height: "307" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-ginosoriginal.jpg" alt="image description" width="468" height="307"> -->
                </div>
              </div>
            </section>
            <section class="specilas-box">
              <h2>Single Deal <span class="itemCals">(1496-4367 Cals)</span></h2>
              <a class="more ooSpecial" href="https://ginospizza.webordering.ca/ginospizza/">Order Online Now</a>
              <div class="holder-s">
                <div class="frame-s">
                  <div class="box-info">
                    <ul class="list-menu">
                      <li><span>1</span> Pizzas with <span>3</span> Toppings</li>
                      <li><span>2</span> Soft Drinks <b>(591ml)</b></li>
                      <li><span>1 FREE</span> Dipping Sauce</li>
                    </ul>
                    <ul class="list-cost">
                      <li>
                        <strong class="title">Medium</strong>
                        <strong class="cash"> <em>$</em>13<em>.49</em></strong>
                      </li>
                      <li>
                        <strong class="title">Large</strong>
                        <strong class="cash"> <em>$</em>15<em>.49</em></strong>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="img-box">
                  <%= image_tag 'special-singledeal.jpg', alt: "image description", width: "468", height: "307" %>
                  <!-- <img src="./Specials _ Gino&#39;s Pizza_files/special-singledeal.jpg" alt="image description" width="468" height="307"> -->
                </div>
              </div>
            </section>
            </div>
            <div id="tab2">



            </div>
          </div>
        </div>
        <h3>The average adult requires approximately 2,000 to 2,400 calories per day; however, individual calorie needs may vary.</h3>
        <p><small>Taxes and delivery are extra. Prices subject to change. Limited time offer. Items may not look as pictured. </small></p>
      </div>
      <aside class="aside">
<div class="box">
<form action="http://ginospizza.ca/scripts/mailchimp-register.php" class="registration-form" name="eclub_register" id="eclub_register" method="post" novalidate="novalidate">
  <fieldset>
    <h2>Join Gino's eClub</h2>
    <p>Sign up for our eClub and receive exclusive offers directly to your inbox.</p>
    <input type="text" placeholder="First Name" name="fname" class="required">
    <input type="text" placeholder="Last Name" name="lname" class="required">
    <input type="email" placeholder="Email Address" name="email" class="required email">
    <span class="select-required select-area" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); width: 286px;"><span class="left"></span><span class="center">Select Location</span><a class="select-opener"></a><select name="location" class="required" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); top: 0px; left: 0px; margin: 0px; padding: 0px; opacity: 0; border: none; position: absolute; width: 266px; height: 18px;">
      <option value="">Select Location</option>
      <option value="993">Aurora  - 14800 Yonge St</option>
<option value="995">Newmarket  - 17120 Leslie St</option>
<option value="2">Oakville  - 1515 Rebecca St</option>
<option value="3">Oakville  - 1289 Marlborough Court</option>
<option value="4">Kitchener  - 370 Highland Rd W</option>
<option value="5">Burlington  - 3650 Dundas St. Unit F3</option>
<option value="6">Stratford  - 188 Ontario St</option>
<option value="7">London  - 1120 Wellington Rd S</option>
<option value="8">Burlington  - 2025 Guelph Line</option>
<option value="9">Burlington  - 5111 New Street</option>
<option value="10">Burlington  - 473 Guelph Line</option>
<option value="11">Hamilton  - 7 King St E</option>
<option value="12">Hamilton  - 640 Mohawk Rd W</option>
<option value="13">Hamilton  - 65 B Mall Rd</option>
<option value="14">Hamilton  - 1309 Main St W</option>
<option value="16">Waterloo  - 94 Bridgeport St</option>
<option value="17">Milton  - 431 Main St</option>
<option value="18">Waterdown  - 2064 Hamilton St</option>
<option value="19">Ancaster  - 34 Wilson St</option>
<option value="20">Bradford  - 412 Holland Street W</option>
<option value="21">Welland  - 800 Niagara Street</option>
<option value="22">Hamiltom  - 1146 Barton St E</option>
<option value="23">Stoney Creek  - 174 #8 Highway</option>
<option value="24">Hamilton  - 697 Queenston Rd</option>
<option value="26">Smithville  - 249 St Catherine St W.</option>
<option value="27">Oakville  - 1131 Nottinghill Gate</option>
<option value="30">Grimsby  - 24 Main St E</option>
<option value="31">Kitchener  - 1405 Ottawa St N</option>
<option value="32">Guelph  - 119 Silvercreek Pkwy N</option>
<option value="33">Kitchener  - 601 Doon Village Rd</option>
<option value="34">Hamilton  - 2200 Rymal Road</option>
<option value="35">Tillsonburg  - 200 Broadway</option>
<option value="37">London  - 1631 Oxford St E</option>
<option value="38">London  - 301 Oxford St W</option>
<option value="39">Cambridge  - 180 Holiday Inn Dr</option>
<option value="40">Guelph  - 370 Stone Rd</option>
<option value="994">Guelph  - 320 Eastview Rd</option>
<option value="41">Niagara Falls  - 6303 Lundy's Lane</option>
<option value="42">Brantford  - 63 Brant Ave</option>
<option value="43">St. Catharines  - 224 Glen Ridge Ave</option>
<option value="49">Thunder Bay  - 400 Balmoral St</option>
<option value="52">Brampton  - 630 Peter Robertson Blvd</option>
<option value="53">Toronto  - 234 Parliament St</option>
<option value="55">Toronto  - 884 Danforth Ave</option>
<option value="56">Toronto  - 825 Coxwell Ave</option>
<option value="57">Toronto  - 1158 Bloor St. W</option>
<option value="58">Toronto  - 2387 Yonge St</option>
<option value="60">Toronto  - 399 Bathurst St.</option>
<option value="61">Toronto  - 1062 Kingston Rd</option>
<option value="63">Brampton  - 8770 The Gore Road- Unit 5</option>
<option value="65">Toronto  - 787 Steeles Ave W</option>
<option value="66">Richmond Hill  - 9625 Yonge St</option>
<option value="67">Mississauga  - 2200 Eglinton Ave W</option>
<!-- <option value='68'>Oakville  - 2387 Trafalgar Rd</option> -->
<option value="69">Etobicoke  - 3282 Lakeshore Blvd</option>
<option value="70">Brampton  - 10671 Chinguacousy Dr #9</option>
<option value="71">Toronto  - 1446 Yonge St</option>
<!-- <option value='73'>Toronto  - 2526 Jane St</option> -->
<option value="75">Toronto  - 2900  Steeles Ave E</option>
<option value="76">Innisfil  - 1491 Innisfil Beach Rd., #3</option>
<option value="78">Whitby  - 617 Victoria St W</option>
<!-- <option value='79'>Barrie  - 201 Georgian Dr</option> -->
<option value="80">Toronto  - 4928 Dundas St W</option>
<option value="81">Toronto  - 1682 Jane St</option>
<option value="82">Brampton  - 1785 Queen St E</option>
<option value="83">Toronto  - 681 Markham Rd</option>
<option value="84">Thunder Bay  - 180 Cumberland St N</option>
<option value="85">Waterloo  - 253 King Street N</option>
<option value="86">Toronto  - 4700 Keele St</option>
<option value="87">Toronto  - 2524 Finch Ave W</option>
<option value="88">Toronto  - 1661 Eglinton St</option>
<option value="89">Whitby  - 308 Taunton Rd E</option>
<option value="91">Richmond Hill  - 10255 Yonge St</option>
<option value="92">Toronto  - 2739 Eglinton Ave E</option>
<option value="93">Toronto  - 3123 Sheppard Ave</option>
<option value="95">Toronto  - 200 Elizabeth St</option>
<option value="97">Toronto  - 5439 Yonge St</option>
<option value="98">Toronto  - 520 Bloor St W</option>
<option value="99">Toronto  - 1158 Danforth Ave</option>
<option value="100">Toronto  - 443 Parliament St</option>
<option value="102">Mississauga  - 2157 Royal Windsor Dr</option>
<option value="103">Mississauga  - 1151 Dundas St W - Unit 36</option>
<option value="104">Brampton  - 389 Main St N</option>
<option value="105">Mississauga  - 89 Lakeshore Rd E</option>
<option value="107">Mississauga  - 735 Twain Ave</option>
<option value="110">Brampton  - 160 Main St S</option>
<option value="115">Mississauga  - 136 Queen St S</option>
<option value="116">Mississauga  - 3221 Derry Rd Unit 7</option>
<option value="122">Mississauga  - 377 Burnhamthorpe Rd E</option>
<option value="135">Brampton  - 9025 Torbram Rd</option>
<option value="139">Toronto  - 802 College St</option>
<option value="140">Woodbrige  - 5451 Highway 7 Unit 112</option>
<option value="145">Mississauga  - 7205 Goreway Dr</option>
<option value="159">Oakville  - 2501 Hampshire Gate</option>
<option value="161">Toronto  - 2140 Kipling Ave - Unit 1</option>
<option value="46">Tecumseh  - 12284 County Rd #42</option>				</select></span>
    <div class="row">
      <div class="col">
        <span class="select-required select-area" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); width: 99px;"><span class="left"></span><span class="center">Month</span><a class="select-opener"></a><select name="b_month" class="required" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); top: 0px; left: 0px; margin: 0px; padding: 0px; opacity: 0; border: none; position: absolute; width: 63px; height: 18px;">
          <option value="">Month</option>
          <option value="01">January</option>
          <option value="02">February</option>
          <option value="03">March</option>
          <option value="04">April</option>
          <option value="05">May</option>
          <option value="06">June</option>
          <option value="07">July</option>
          <option value="08">August</option>
          <option value="09">Septemeber</option>
          <option value="10">October</option>
          <option value="11">November</option>
          <option value="12">December</option>
        </select></span>
      </div>
      <div class="col">
        <span class="select-required select-area" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); width: 47px;"><span class="left"></span><span class="center">Day</span><a class="select-opener"></a><select name="b_day" class="required" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); top: 0px; left: 0px; margin: 0px; padding: 0px; opacity: 0; border: none; position: absolute; width: 63px; height: 18px;">
          <option value="">Day</option>
          <option value="01">01</option>
          <option value="02">02</option>
          <option value="03">03</option>
          <option value="04">04</option>
          <option value="05">05</option>
          <option value="06">06</option>
          <option value="07">07</option>
          <option value="08">08</option>
          <option value="09">09</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
          <option value="13">13</option>
          <option value="14">14</option>
          <option value="15">15</option>
          <option value="16">16</option>
          <option value="17">17</option>
          <option value="18">18</option>
          <option value="19">19</option>
          <option value="20">20</option>
          <option value="21">21</option>
          <option value="22">22</option>
          <option value="23">23</option>
          <option value="24">24</option>
          <option value="25">25</option>
          <option value="26">26</option>
          <option value="27">27</option>
          <option value="28">28</option>
          <option value="29">29</option>
          <option value="30">30</option>
          <option value="31">31</option>
        </select></span>
      </div>
    </div>
    <input type="submit" value="Join Now!">
  </fieldset>
</form>
</div>
<div class="box">
<form action="http://ginospizza.ca/locations.php" class="form-search-city" id="form-search-sidebar" name="form_search_sidebar" method="post">
  <fieldset>
    <h3>Hungry? Order Now</h3>
    <p>Ready to order? <br>Enter your address into the box below to find the closest Gino's Pizza or order online!</p>
    <div class="row" style="margin-bottom:9px;">
      <input type="text" name="u_address" id="u_address" placeholder="Address including city" style="padding-left:7px;">
    </div>
    <input type="hidden" name="u_loc" id="u_loc">
    <input name="radius" type="hidden" value="5">
    <input type="submit" value="Search">
  </fieldset>
</form>
</div>
<div class="box-order">
<strong class="title">Order Online</strong>
<a href="https://ginospizza.webordering.ca/" class="btn-order" onclick="ga(&#39;send&#39;, &#39;event&#39;, &#39;Online Ordering&#39;, &#39;Sidebar Button&#39;);">Place Your Order</a>
</div>
<ul class="list-socials-02">
<li><a href="http://instagram.com/ginospizzacdn" class="instagramm">instagramm</a></li>
<li><a href="https://plus.google.com/u/0/115732084572386995296" class="googlePlus">googlePlus</a></li>
<li><a href="https://foursquare.com/ginospizzacdn" class="foursquare">foursquare</a></li>
<li><a href="http://www.youtube.com/user/GinosPizzaGroup" class="yelp">youtube</a></li>
</ul>
</aside>

<script type="text/javascript" src="./Specials _ Gino&#39;s Pizza_files/js">
</script>
<script>
var geocoder;

function initialize() {
geocoder = new google.maps.Geocoder();
}

google.maps.event.addDomListener(window, 'load', initialize);

$('#form-search-sidebar').submit(function (e) {
  e.preventDefault();
  var address = $('#u_address').val() + " ontario canada";
  geocoder.geocode( {'address': address}, function (results, status) {
    if (status == google.maps.GeocoderStatus.OK) {
      $('#u_loc').val(results[0].geometry.location);
      document.form_search_sidebar.submit();
    } else {
      alert('Could not determine your location. Please try again.');
    }
  });
});

//MAILCHIMP SUBSCRIBE
$(document).ready(function () {
  $('#eclub_register').validate({
    submitHandler: function () {
      $.post("scripts/mailchimp-register.php", $( "#eclub_register" ).serialize(), function (data) {
        if (data == 'OK') {
          alert('Success! Please check your email for your eClub confirmation.');
        } else {
          alert('Registration Failed! Please try registering again later.');
        }
      });
    }
  });
});
</script>				</div>
  </div>
</div>
<footer id="footer">
<div class="footer-holder">
<div class="box-list">
  <ul class="footer-list">
    <li><a href="http://ginospizza.ca/index.php">Home</a></li>
    <li><a href="http://ginospizza.ca/story.php">Our Story</a></li>
    <li><a href="http://ginospizza.ca/specials.php">Specials</a></li>
    <li><a href="http://ginospizza.ca/locations.php">Locations</a></li>
    <li><a href="http://ginospizza.ca/franchise.php">Franchise Information</a></li>
    <li><a href="http://ginospizza.ca/school.php">School Fundraising</a></li>
    <!-- <li><a href="careers.php">Careers</a></li> -->
  </ul>
  <ul class="footer-list">
    <li><a href="http://ginosnewsite.opalonline.ca/wp/wp-login.php">Store Portal</a></li>
    <li><a class="lightbox" href="http://ginospizza.ca/specials.php#popup1">Customer Feedback</a></li>
  </ul>
  <div class="footer-menu">
    <span>Menu:</span>
    <ul class="footer-list">
      <li><a href="http://ginospizza.ca/menu-starters.php">Starters &amp; Sides</a></li>
      <li><a href="http://ginospizza.ca/menu-pizza.php">Specialty Pizzas</a></li>
      <li><a href="http://ginospizza.ca/build-your-own.php">Create Your Own</a></li>
    </ul>
  </div>
</div>
<strong class="logo-small"><a href="http://ginospizza.ca/index.php">Ginos Pizza</a></strong>
<p>© 2015 <a href="http://ginospizza.ca/index.php">Gino’s Pizza Group Inc.</a></p>
</div>
</footer>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', 'UA-5309061-63', 'ginospizza.ca');
ga('send', 'pageview');

</script>
<!-- Google Code for Remarketing Tag -->
<!--
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 955943242;
var google_custom_params = window.google_tag_params;
var google_remarketing_only = true;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//googleads.g.doubleclick.net/pagead/viewthroughconversion/955943242/?value=0&amp;guid=ON&amp;script=0"/>
</div>
</noscript>-->
<script>
$(document).ready(function () {
$('.tell').click(function () {
  window.location = 'tel:18663104466';
});
});
</script>
<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','//connect.facebook.net/en_US/fbevents.js');

fbq('init', '1679257855663096');
fbq('track', "PageView");</script>
<noscript>&lt;img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=1679257855663096&amp;ev=PageView&amp;noscript=1"
/&gt;</noscript>
<!-- End Facebook Pixel Code -->		<!-- inline lightbox structure example -->
<div class="popup-holder">
<div id="popup1" class="lightbox">
<strong class="title-lightbox">Contact Us</strong>
<div class="right-box">
  <div class="box">
    <strong class="title">To place an order, please call</strong>
    <span class="phone">1-866-310-4466</span>
  </div>
  <div class="box">
    <strong class="title">Gino’s Pizza Head Office</strong>
    <address>
      <span class="first">
        15 Brownridge Road, <br> Unit #5<br>Halton Hills, Ontario<br>L7G 0C6
      </span>
      <span><b>Tel:</b> 416-235-0000</span>
      <span><b>Toll Free:</b> 1 (866) 340-4466</span>
      <span><b>By Fax:</b> (905) 864-1587</span>
    </address>
  </div>
</div>
<form action="http://ginospizza.ca/specials.php#" class="contact-form" name="contact_form" id="contact_form" method="post" novalidate="novalidate">
  <fieldset>
    <p>We value your opinion and welcome your feedback. Send us a message using the feedback form below.</p>
    <div class="row">
      <div class="col">
        <input type="text" placeholder="First Name" name="fname" class="required">
      </div>
      <div class="col">
        <input type="text" placeholder="Last Name" name="lname" class="required">
      </div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" placeholder="Email Address" name="email" class="required email">
      </div>
      <div class="col">
        <input type="text" placeholder="Telephone Number" name="telephone">
      </div>
    </div>
    <span class="select-area" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); width: auto;"><span class="left"></span><span class="center">Select a Location</span><a class="select-opener"></a><select name="location" class="" style="-webkit-tap-highlight-color: rgba(255, 255, 255, 0); top: 0px; left: 0px; margin: 0px; padding: 0px; opacity: 0; border: none; position: absolute;">
      <option value="">Select a Location</option>
      <option value="993">Aurora  - 14800 Yonge St</option>
<option value="995">Newmarket  - 17120 Leslie St</option>
<option value="2">Oakville  - 1515 Rebecca St</option>
<option value="3">Oakville  - 1289 Marlborough Court</option>
<option value="4">Kitchener  - 370 Highland Rd W</option>
<option value="5">Burlington  - 3650 Dundas St. Unit F3</option>
<option value="6">Stratford  - 188 Ontario St</option>
<option value="7">London  - 1120 Wellington Rd S</option>
<option value="8">Burlington  - 2025 Guelph Line</option>
<option value="9">Burlington  - 5111 New Street</option>
<option value="10">Burlington  - 473 Guelph Line</option>
<option value="11">Hamilton  - 7 King St E</option>
<option value="12">Hamilton  - 640 Mohawk Rd W</option>
<option value="13">Hamilton  - 65 B Mall Rd</option>
<option value="14">Hamilton  - 1309 Main St W</option>
<option value="16">Waterloo  - 94 Bridgeport St</option>
<option value="17">Milton  - 431 Main St</option>
<option value="18">Waterdown  - 2064 Hamilton St</option>
<option value="19">Ancaster  - 34 Wilson St</option>
<option value="20">Bradford  - 412 Holland Street W</option>
<option value="21">Welland  - 800 Niagara Street</option>
<option value="22">Hamiltom  - 1146 Barton St E</option>
<option value="23">Stoney Creek  - 174 #8 Highway</option>
<option value="24">Hamilton  - 697 Queenston Rd</option>
<option value="26">Smithville  - 249 St Catherine St W.</option>
<option value="27">Oakville  - 1131 Nottinghill Gate</option>
<option value="30">Grimsby  - 24 Main St E</option>
<option value="31">Kitchener  - 1405 Ottawa St N</option>
<option value="32">Guelph  - 119 Silvercreek Pkwy N</option>
<option value="33">Kitchener  - 601 Doon Village Rd</option>
<option value="34">Hamilton  - 2200 Rymal Road</option>
<option value="35">Tillsonburg  - 200 Broadway</option>
<option value="37">London  - 1631 Oxford St E</option>
<option value="38">London  - 301 Oxford St W</option>
<option value="39">Cambridge  - 180 Holiday Inn Dr</option>
<option value="40">Guelph  - 370 Stone Rd</option>
<option value="994">Guelph  - 320 Eastview Rd</option>
<option value="41">Niagara Falls  - 6303 Lundy's Lane</option>
<option value="42">Brantford  - 63 Brant Ave</option>
<option value="43">St. Catharines  - 224 Glen Ridge Ave</option>
<option value="49">Thunder Bay  - 400 Balmoral St</option>
<option value="52">Brampton  - 630 Peter Robertson Blvd</option>
<option value="53">Toronto  - 234 Parliament St</option>
<option value="55">Toronto  - 884 Danforth Ave</option>
<option value="56">Toronto  - 825 Coxwell Ave</option>
<option value="57">Toronto  - 1158 Bloor St. W</option>
<option value="58">Toronto  - 2387 Yonge St</option>
<option value="60">Toronto  - 399 Bathurst St.</option>
<option value="61">Toronto  - 1062 Kingston Rd</option>
<option value="63">Brampton  - 8770 The Gore Road- Unit 5</option>
<option value="65">Toronto  - 787 Steeles Ave W</option>
<option value="66">Richmond Hill  - 9625 Yonge St</option>
<option value="67">Mississauga  - 2200 Eglinton Ave W</option>
<!-- <option value='68'>Oakville  - 2387 Trafalgar Rd</option> -->
<option value="69">Etobicoke  - 3282 Lakeshore Blvd</option>
<option value="70">Brampton  - 10671 Chinguacousy Dr #9</option>
<option value="71">Toronto  - 1446 Yonge St</option>
<!-- <option value='73'>Toronto  - 2526 Jane St</option> -->
<option value="75">Toronto  - 2900  Steeles Ave E</option>
<option value="76">Innisfil  - 1491 Innisfil Beach Rd., #3</option>
<option value="78">Whitby  - 617 Victoria St W</option>
<!-- <option value='79'>Barrie  - 201 Georgian Dr</option> -->
<option value="80">Toronto  - 4928 Dundas St W</option>
<option value="81">Toronto  - 1682 Jane St</option>
<option value="82">Brampton  - 1785 Queen St E</option>
<option value="83">Toronto  - 681 Markham Rd</option>
<option value="84">Thunder Bay  - 180 Cumberland St N</option>
<option value="85">Waterloo  - 253 King Street N</option>
<option value="86">Toronto  - 4700 Keele St</option>
<option value="87">Toronto  - 2524 Finch Ave W</option>
<option value="88">Toronto  - 1661 Eglinton St</option>
<option value="89">Whitby  - 308 Taunton Rd E</option>
<option value="91">Richmond Hill  - 10255 Yonge St</option>
<option value="92">Toronto  - 2739 Eglinton Ave E</option>
<option value="93">Toronto  - 3123 Sheppard Ave</option>
<option value="95">Toronto  - 200 Elizabeth St</option>
<option value="97">Toronto  - 5439 Yonge St</option>
<option value="98">Toronto  - 520 Bloor St W</option>
<option value="99">Toronto  - 1158 Danforth Ave</option>
<option value="100">Toronto  - 443 Parliament St</option>
<option value="102">Mississauga  - 2157 Royal Windsor Dr</option>
<option value="103">Mississauga  - 1151 Dundas St W - Unit 36</option>
<option value="104">Brampton  - 389 Main St N</option>
<option value="105">Mississauga  - 89 Lakeshore Rd E</option>
<option value="107">Mississauga  - 735 Twain Ave</option>
<option value="110">Brampton  - 160 Main St S</option>
<option value="115">Mississauga  - 136 Queen St S</option>
<option value="116">Mississauga  - 3221 Derry Rd Unit 7</option>
<option value="122">Mississauga  - 377 Burnhamthorpe Rd E</option>
<option value="135">Brampton  - 9025 Torbram Rd</option>
<option value="139">Toronto  - 802 College St</option>
<option value="140">Woodbrige  - 5451 Highway 7 Unit 112</option>
<option value="145">Mississauga  - 7205 Goreway Dr</option>
<option value="159">Oakville  - 2501 Hampshire Gate</option>
<option value="161">Toronto  - 2140 Kipling Ave - Unit 1</option>
<option value="46">Tecumseh  - 12284 County Rd #42</option>				</select></span>
    <textarea cols="30" rows="10" placeholder="Message" name="msg" class="required"></textarea>
    <div id="web_div" style="display: none;">
      <label>What is 2 + 2?</label>
      <input type="text" name="website" id="website" value="">
    </div>
    <small style="display:inline-block;line-height:14px;margin-bottom:10px;">If you are not satisfied with the product that you have received, we want to make it right. Upon receiving the product, we will replace it with a similar product that meets your satisfaction.</small>
    <input type="submit" value="Submit Message" id="contact_submit">
    <h2 id="lblSend" style="display:none;">Sending... Please Wait</h2>
    <h2 id="lblSucc" style="display:none;">Thank you! Your message has been sent!</h2>
    <h2 id="lblError" style="display:none;">Error sending message. Try again later.</h2>
  </fieldset>
</form>
</div>
</div>
<script>
$(document).ready(function () {
$('#web_div').hide();
$('#contact_form').validate({
  submitHandler: function() {
    $('#contact_submit').hide();
    $('#lblSend').show();
    $.post('scripts/doContact.php', $('#contact_form').serialize(), function (data) {
      $('#lblSend').hide();
      if (data == 'OK') {
        $('#lblSucc').show();
      } else {
        $('#lblError').show();
      }
    });
  }
});
});
</script><!--
<div style="position:absolute;top:380px;left:0;">
  <a href="/pin2win.php" /><img src="images/side-bubble.png" /></a>
</div>
-->
</div>

<iframe id="font-resize-frame-145" class="font-resize-helper" style="width: 100em; height: 10px; position: absolute; border-width: 0px; top: -9999px; left: -9999px;" src="./Specials _ Gino&#39;s Pizza_files/saved_resource.html"></iframe><div id="fancybox-tmp"></div><div id="fancybox-loading"><div></div></div><div id="fancybox-overlay"></div><div id="fancybox-wrap"><div id="fancybox-outer"><div class="fancybox-bg" id="fancybox-bg-n"></div><div class="fancybox-bg" id="fancybox-bg-ne"></div><div class="fancybox-bg" id="fancybox-bg-e"></div><div class="fancybox-bg" id="fancybox-bg-se"></div><div class="fancybox-bg" id="fancybox-bg-s"></div><div class="fancybox-bg" id="fancybox-bg-sw"></div><div class="fancybox-bg" id="fancybox-bg-w"></div><div class="fancybox-bg" id="fancybox-bg-nw"></div><div id="fancybox-content"></div><a id="fancybox-close"></a><div id="fancybox-title"></div><a href="javascript:;" id="fancybox-left"><span class="fancy-ico" id="fancybox-left-ico"></span></a><a href="javascript:;" id="fancybox-right"><span class="fancy-ico" id="fancybox-right-ico"></span></a></div></div><script type="text/javascript" id="" src="./Specials _ Gino&#39;s Pizza_files/swap.js"></script></body></html>
