<% content_for :sidebar do %>
  <div class="sidebar-cart" data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/link_to_cart' %>
    <%= render :partial => 'spree/shared/sidebar_cart' %>
  </div>
<% end %>

<div class="section-title">
  Specialty Pizzas
</div>

<br>

<div class="section-items">

  <div class="row" style="height: 170px;">
    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(1) do %>
        <div class="flinkablink"><%= image_tag('002-pizza.jpg', class: 'grid-image') %></div>
        Build Your Own Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(7) do %>
        <div class="flinkablink"><%= image_tag('005-meat-lovers-pizza.jpg', class: 'grid-image') %></div>
        Meat Lovers Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(8) do %>
        <div class="flinkablink"><%= image_tag('007-veggie-lovers-pizza.jpg', class: 'grid-image') %></div>
        Veggie Lovers Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(9) do %>
        <div class="flinkablink"><%= image_tag('008-philly-cheesesteak-pizza.jpg', class: 'grid-image') %></div>
        Philly Cheese Steak Pizza
      <% end %>
    </div>

  </div>
  <div class="row">

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(10) do %>
        <div class="flinkablink"><%= image_tag('004-bbq-chicken-pizza.jpg', class: 'grid-image') %></div>
        BBQ Chicken Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(11) do %>
        <div class="flinkablink"><%= image_tag('006-ham-pineapple-pizza.jpg', class: 'grid-image') %></div>
        Hawaiian Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(12) do %>
        <div class="flinkablink"><%= image_tag('010-chicken-bacon-ranch-pizza.jpg', class: 'grid-image') %></div>
        Chicken Bacon Ranch Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(13) do %>
        <div class="flinkablink"><%= image_tag('014-supreme-pizza.jpg', class: 'grid-image') %></div>
        Supreme Pizza
      <% end %>
    </div>

  </div>
  <div class="row">

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(14) do %>
        <div class="flinkablink"><%= image_tag('img-02.jpg', class: 'grid-image') %></div>
        Ultimate Pepperoni Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(15) do %>
        <div class="flinkablink"><%= image_tag('011-buffalo-chicken-pizza.jpg', class: 'grid-image') %></div>
        Buffalo Chicken Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(16) do %>
        <div class="flinkablink"><%= image_tag('012-cheese-pizza.jpg', class: 'grid-image') %></div>
        Six Cheese Pizza
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(17) do %>
        <div class="flinkablink"><%= image_tag('013-spinach-feta-pizza.jpg', class: 'grid-image') %></div>
        Spinach and Feta Pizza
      <% end %>
    </div>

  </div>
</div>
