<h1>Desserts</h1>


<div class="col-md-4 flink">
  <%= link_to spree.product_path(27) do %>
    <%= image_tag('img-02.jpg') %><br>
    Cinnamon Twists
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(28) do %>
    <%= image_tag('img-02.jpg') %><br>
    Chocolate Chip Cookie
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(29) do %>
    <%= image_tag('img-02.jpg') %><br>
    Chocolate Brownie
  <% end %>
</div>
