<% content_for :sidebar do %>
  <div class="sidebar-cart" data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/link_to_cart' %>
    <%= render :partial => 'spree/shared/sidebar_cart' %>
  </div>
<% end %>

<div class="section-title">
  Chicken
</div>
<br>

<div class="section-items">

<div class="row">
  <div class="col-md-3 col-sm-6 flink">
    <%= link_to spree.product_path(3) do %>
      <div class="flinkablink"><%= image_tag('024-chicken-wings.jpg', class: 'grid-image') %></div>
      Chicken Wings
    <% end %>
  </div>

  <div class="col-md-3 col-sm-6 flink">
    <%= link_to spree.product_path(5) do %>
      <div class="flinkablink"><%= image_tag('022-chicken-fingers.jpg', class: 'grid-image') %></div>
      Chicken Fingers
    <% end %>
  </div>
</div>

</div>
