<h1>Sides</h1>


<div class="col-md-4 flink">
  <%= link_to spree.product_path(2) do %>
    <%= image_tag('img-02.jpg') %><br>
    Breadsticks
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(4) do %>
    <%= image_tag('img-02.jpg') %><br>
    Cheesy Bread
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(6) do %>
    <%= image_tag('img-02.jpg') %><br>
    Garlic Bread
  <% end %>
</div>

<div class="col-md-4 flink">
  <%= link_to spree.product_path(26) do %>
    <%= image_tag('img-02.jpg') %><br>
    Pasta Primavera
  <% end %>
</div>
