<div class="row">
  <div class="col-md-4 flink">
    <%= link_to spree.product_path(36) do %>
      <%= image_tag('img-02.jpg') %>
    <% end %>
  </div>
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
</div>
<div class="row">
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
  <div class="col-md-4 flink">
    <%= image_tag('img-02.jpg') %>
  </div>
</div>
