
<%= link_to spree.product_path(36) do %>
  <div class="product-page-item">
    <%= image_tag '014-supreme-pizza.jpg', class: 'product-picture' %>
    <div class="product-title">
        Large 3-Topping Pizza for $12
    </div>
  </div>
<% end %>

<%= link_to spree.product_path(38) do %>
  <div class="product-page-item">
    <%= image_tag '037-2-pizzas-deal.jpeg', class: 'product-picture' %>
    <div class="product-title">
        2 Pizzas and more for $19.99
    </div>
  </div>
<% end %>

<%= link_to spree.product_path(37) do %>
  <div class="hero-promo">
    <div class="hero-promo-text">
      <h3>SPECIAL</h3>
      Choose any 2 <br>
      Sides for only <br>
      <h4>$5.99</h4>
    </div>
  </div>
<% end %>
