
<%= link_to spree.product_path(1) do %>
  <div class="product-page-item">
    <%= image_tag 'img-02.jpg', class: 'product-picture' %>
    <div class="product-title">
        Build Your Own Pizza
    </div>
  </div>
<% end %>

<%= link_to spree.product_path(1) do %>
  <div class="product-page-item">
    <%= image_tag 'img-02.jpg', class: 'product-picture' %>
    <div class="product-title">
        Build Your Own Pizza
    </div>
  </div>
<% end %>

<%= link_to spree.product_path(1) do %>
  <div class="product-page-item">
    <%= image_tag 'img-02.jpg', class: 'product-picture' %>
    <div class="product-title">
        Build Your Own Pizza
    </div>
  </div>
<% end %>

<%= link_to spree.product_path(38) do %>
  <div class="hero-promo">
    <div class="hero-promo-text">
      <h3>SPECIAL</h3>
      Choose any 2 <br>
      Sides for only <br>
      <h4>$5.99</h4>
    </div>
  </div>
<% end %>
