<% content_for :head do %>
  <% if products.respond_to?(:total_pages) %>
    <%= rel_next_prev_link_tags products %>
  <% end %>
<% end %>

<div data-hook="products_search_results_heading">
  <% if products.empty? %>
    <div data-hook="products_search_results_heading_no_results_found">
      <%= Spree.t(:no_products_found) %>
    </div>
  <% elsif params.key?(:keywords) %>
    <div data-hook="products_search_results_heading_results_found">
      <h6 class="search-results-title"><%= Spree.t(:search_results, keywords: h(params[:keywords])) %></h6>
    </div>
  <% end %>
</div>

<% if products.any? %>
  <div id="products" class="row" data-hook>



    <!-- Build your own pizza, with the option of adding build your own pasta. 6 is the product id of Pizza -->



      <% products.each do |product| %>
        <% if product.id == 1 %>
        <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
        <%= link_to url do %>
          <div class="pizza-build">
            <div class="pizza-build-text">
              <h1>Build Your Own Pizza!</hi>
            </div>
          </div>
        <% end %>
      <% end %>

    </div>
    <% end %>
    <br />
    <hr />

    <div class="order-sidebar">
      <%= render :partial => 'spree/shared/sidebar' %>
    </div>

    <div>

      <% products.each do |product| %>
        <% url = spree.product_path(product, taxon_id: @taxon.try(:id)) %>
        <%= link_to url do %>
          <div class="product-page-item">
            <div class="product-picture">
              <%= small_image(product, itemprop: "image") %>
            </div>
            <div class="product-title">
                <%= content_tag(:span, truncate(product.name, length: 50), class: 'info', itemprop: "name", title: product.name) %>
            </div>
          </div>
        <% end %>


    <% reset_cycle("classes") %>
    <% end %>
  </div>


  </div>
<% end %>

<div class="order-paginator">
  <% if products.respond_to?(:total_pages) %>
    <%= paginate products, theme: 'twitter-bootstrap-3' %>
  <% end %>
</div>
