<% content_for :sidebar do %>
  <div class="sidebar-cart" data-hook="homepage_sidebar_navigation">
    <%= render :partial => 'spree/shared/link_to_cart' %>
    <%= render :partial => 'spree/shared/sidebar_cart' %>
  </div>
<% end %>

<div class="section-title">
  Sandwiches
</div>
<br>

<div class="section-items">

  <div class="row">
    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(18) do %>
        <div class="flinkablink"><%= image_tag('017-buffalo-chicken-sandwich.jpg', class: 'grid-image') %></div>
        Buffalo Chicken Sandwich
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(19) do %>
        <div class="flinkablink"><%= image_tag('009-philly-cheesesteak-sandwich.jpg', class: 'grid-image') %></div>
        Philly Cheese Steak Sandwich
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(20) do %>
        <div class="flinkablink"><%= image_tag('020-chicken-bacon-ranch-sandwich.jpg', class: 'grid-image') %></div>
        Chicken Bacon Ranch Sandwich
      <% end %>
    </div>

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(21) do %>
        <div class="flinkablink"><%= image_tag('034-italian-sandwich.jpg', class: 'grid-image') %></div>
        Italian Sandwich
      <% end %>
    </div>

  </div>
  <div class="row">

    <div class="col-md-3 col-sm-6 flink">
      <%= link_to spree.product_path(22) do %>
        <div class="flinkablink"><%= image_tag('023-chicken-parm-sandwich.jpg', class: 'grid-image') %></div>
        Chicken Parm Sandwich
      <% end %>
    </div>

  </div>
</div>
