<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title>Slice</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="top-panel">
  <div class="top-panel-social">
    Get Social With Us!
  </div>
</div>

<div class="header">
  <%= image_tag 'logo.png' %>
</div>

<div class="header-menu">
<ul class="header-list">
  <li class="header-list-item"><%= link_to 'Menu', spree_path  %></li>
  <li class="header-list-item"><%= link_to 'Specials', coupon_index_path %></li>
  <li class="header-list-item"><%= link_to 'Our Story', coupon_index_path %></li>
  <li class="header-list-item"><%= link_to 'Locations', locations_path %></li>
  <li class="header-list-item"><%= link_to 'Franchise', tracker_index_path %></li>
  <!-- <li class="header-list-item"><%# link_to 'Cart', spree.cart_path %></li> -->
</ul>
</div>

<%= yield %>

</body>
</html>
